.icon {
  fill: currentcolor;
  font: inherit;
  color: inherit;
  border: none;
  margin: 0;
  display: inline-block;
  padding: 0;
  overflow: visible;
  line-height: 0;
  border-radius: 0;
  text-transform: none;
  background-color: transparent;
}
.icon > * {
  transform: translate(0, 0);
}
.icon::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.iconSmallRight {
  margin-right: 10px !important;
}
.iconLink {
  color: #999;
}
.iconButton {
  color: #999;
  width: 36px;
  height: 36px;
  display: inline-flex;
  background: #f8f8f8;
  box-sizing: border-box;
  transition: 0.1s ease-in-out;
  align-items: center;
  border-radius: 500px;
  vertical-align: middle;
  justify-content: center;
  transition-property: color;
}
.formIcon {
  top: 0;
  left: auto;
  color: #999;
  right: 0;
  width: 40px;
  bottom: 0;
  display: inline-flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
